<ion-header>

  <ion-navbar color="primary">
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm">
    <ion-grid padding class="formContain">
      <ion-row>
        <input type="email" formControlName="email" [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"
          placeholder="Email" [(ngModel)]="logindata.email" name="email" clearInput>
      </ion-row>
       <span style="color: #1d2d8a;padding: 0 30px;" *ngIf="!loginForm.controls.email.valid  && (loginForm.controls.email.touched || loginForm.controls.email.dirty)">You can't leave this empty.</span>
      <ion-row>

        <input type="password" class="ioninput" formControlName="password" [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"
          placeholder="Password" [(ngModel)]="logindata.password" name="password" clearInput>
          <!--</ion-input>-->
      </ion-row>
             <span style="color: #1d2d8a;padding: 0 30px;" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.touched || loginForm.controls.password.dirty) && logindata.password !=''">Password should be more than 6 characters.</span>
<span style="color: #1d2d8a;padding: 0 30px;" *ngIf="!loginForm.controls.password.valid  && (loginForm.controls.password.touched || loginForm.controls.password.dirty) && logindata.password ==''">You can't leave this empty.</span>
      <ion-row class="forgot-pwd-section">
        <ion-checkbox [(ngModel)]="cucumber" formControlName="checkbox" (ionChange)="updateCucumber()"></ion-checkbox>Please check this if you are a parent

      </ion-row>
    </ion-grid>
  </form>

  <ion-grid class="buttons">
    <button ion-button round (click)="loginUser()">
      Login
    </button>
  </ion-grid>
  {{ (user | async)?.uid }}
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        <a (click)="forgotPass()">Forgot Password?</a>
      </ion-col>

      <ion-col>
        <a (click)="signup()">Sign Up</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
