page-login {
  ion-content {
    .fixed-content {
      background: url(../assets/images/bg.png);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .grid {
      max-width: 450px;
    }
    .formContain {
      height: 105vw; //height: 24em;
      align-items: center;
      justify-content: center;
      .row {
        width: 90%;
        padding-bottom: 16px;
        align-items: center;
        input {
             border: none;
              border-bottom: 1px solid #f6a65c;
              text-align: center;
              padding: 10px !important;
              margin-right: 0px;
              color: #ffe8dc;
              width: 100%;
              background: transparent;
        }
        input::placeholder {
          color: #ffe8dc;
        }
      }
    }
    .ioninput, .ion-textarea {
        position: relative;
        display: block;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 100%;
    }
    .buttons {
      button {
        background-color: #2e8bfe;
      }
      .activated {
        background-color: #2a80ea;
        ;
      }
    }
    a {
      text-decoration: none;
    }
  }
  .header-md::after,
  .tabs-md[tabsPlacement="top"]>.tabbar::after,
  .footer-md::before,
  .tabs-md[tabsPlacement="bottom"]>.tabbar::before {
    background: none !important;
  }
  .header .toolbar-title {
    text-align: center;
  }
  .forgot-pwd-section {
    ion-checkbox {
      margin-right: 10px;
    }
  }
  .buttons {
    button {
        padding-left: 7rem;
        padding-right: 7rem;
        height: 4rem;
    }
  }
}
