<ion-header>

  <ion-navbar>
    <ion-title>Add Photos</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <div  [formGroup]="addChildPhotosForm">
      <ion-label class="sigleLbl">Select Child</ion-label>
      <ion-searchbar placeholder="Search Children" [(ngModel)]="childName" formControlName="children" (ionInput)="getItems($event)">
      </ion-searchbar>
       <span style="color: red;padding: 0 30px;" *ngIf="!addChildPhotosForm.controls.children.valid  && (addChildPhotosForm.controls.children.touched || addChildPhotosForm.controls.children.dirty)">You can't leave this empty.</span>
    </div>
    <!--<ion-list>-->
    <ion-list *ngIf="showList">
      <ion-item *ngFor="let item of searchChildren">
        <ion-avatar item-start>
          <img src="{{domainUrl+item.value.profile_pic}}">
        </ion-avatar>
        <h2> {{ item.value.name }}</h2>
        <!--<p>{{ item.value.email }}</p>-->
        <button ion-button outline item-end (click)="selectChildren(item.id,item.value.uid_parent,item.value.name)">select</button>
        <!--<ion-checkbox  item-end  [(ngModel)]="cucumber" (ionChange)="updateCucumber()"></ion-checkbox>-->
      </ion-item>

    </ion-list>

    <div [formGroup]="addChildPhotosForm">
      <ion-item >
        <ion-label stacked>Parent's Name</ion-label>
        <ion-input type="text" [(ngModel)]="showParents" formControlName="parents"  placeholder=" Parent's Name"></ion-input>
          

      </ion-item>
          <span style="color: red;padding: 0 30px;" *ngIf="!addChildPhotosForm.controls.parents.valid  && (addChildPhotosForm.controls.parents.touched || addChildPhotosForm.controls.parents.dirty)">You can't leave this empty.</span>
    </div>

    <ion-item (click)="takephoto()" class="photo-section">
      <ion-row align-items-center>
        <ion-col col-3 class="button-icon">
          <button ion-button clear>  
            <ion-icon ios="ios-camera" md="md-camera"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <p>Take a Photo</p>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item (click)="uploadChildImages()" class="photo-section">
      <ion-row align-items-center>
        <ion-col col-3 class="button-icon">
          <button ion-button clear class="gallary-cta">  
           <ion-icon ios="ios-images" md="md-images"></ion-icon>
          </button>
        </ion-col>
        <ion-col>
          <p>Select From gallery</p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-card>

  <div>
    <ion-slides  >
      <ion-slide *ngFor="let img of multiImages">
        <img src="{{img.images}}">
      </ion-slide>
    </ion-slides>
  </div>

  <ion-card class="desc">
    <div  [formGroup]="addChildPhotosForm">
    <ion-item [formGroup]="addChildPhotosForm">
      <ion-label stacked>Add Description</ion-label>
      <ion-textarea type="text" formControlName="description" [(ngModel)]="description" rows="2"></ion-textarea>

    </ion-item>
                       <span style="color: red;padding: 0 30px;" *ngIf="!addChildPhotosForm.controls.description.valid  && (addChildPhotosForm.controls.description.touched || addChildPhotosForm.controls.description.dirty)">You can't leave this empty.</span>

    </div>
    <ion-row class="pblBtn">
      
      <button ion-button round color="secondary" [disabled]="!addChildPhotosForm.valid || multiImages.length == 0 " (click)="multiuploadChildImages()">
        Upload
      </button>
       <!--<button ion-button round color="secondary" [disabled]="(!addChildPhotosForm.controls.description.valid  && (addChildPhotosForm.controls.description.touched || addChildPhotosForm.controls.description.dirty)) ||
      (!addChildPhotosForm.controls.parents.valid  && (addChildPhotosForm.controls.parents.touched || addChildPhotosForm.controls.parents.dirty)) ||
      (!addChildPhotosForm.controls.children.valid  && (addChildPhotosForm.controls.children.touched || addChildPhotosForm.controls.children.dirty))" (click)="multiuploadChildImages()">
        Upload
      </button>-->
    </ion-row>
  </ion-card>
</ion-content>
