<ion-header>

  <ion-navbar color="primary">

    <ion-title>Sign Up</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <form [formGroup]="signupForm">
      <ion-grid padding class="formContain">
        <ion-row>
          <input type="text" formControlName="username"  [(ngModel)]="username" placeholder="Username" clearInput>
        </ion-row>
        <span style="color: #1d2d8a;padding: 0 30px;" *ngIf="!signupForm.controls.username.valid  && (signupForm.controls.username.touched || signupForm.controls.username.dirty)">You can't leave this empty.</span>

        <!--<ion-item class="error-message" *ngIf="!signupForm.controls.mobile.valid  && signupForm.controls.mobile.dirty">
          <p>Please enter username.</p>
        </ion-item>-->

        <ion-row>
          <input type="number" formControlName="mobile" [(ngModel)]="mobile" placeholder="Mobile Number" clearInput>
        </ion-row>
         <span style="color: #1d2d8a;padding: 0 30px;" *ngIf="!signupForm.controls.mobile.valid  && (signupForm.controls.mobile.touched || signupForm.controls.mobile.dirty)">You can't leave this empty.</span>
        <!--<ion-item class="error-message" *ngIf="!signupForm.controls.mobile.valid  && signupForm.controls.mobile.dirty">
          <p>Please enter a mobile number.</p>
        </ion-item>-->
        <ion-row>
          <input type="email" formControlName="email" [(ngModel)]="email" placeholder="Email" clearInput>
        </ion-row>
        <span style="color: #1d2d8a;padding: 0 30px;" *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.touched || signupForm.controls.email.dirty)">You can't leave this empty.</span>
        <!--<ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
          <p>Please enter a valid email.</p>
        </ion-item>-->
        <ion-row>
          <input type="password"  formControlName="password" [(ngModel)]="password" placeholder="Password" clearInput>
        </ion-row>
       <span style="color: #1d2d8a;padding: 0 30px;" *ngIf="!signupForm.controls.password.valid  && (signupForm.controls.password.touched || signupForm.controls.password.dirty)">You can't leave this empty.</span>
        <!--<ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
          <p>Your password needs more than 6 characters.</p>
        </ion-item>-->
        <ion-row>
          <input type="password" formControlName="cnfpassword" 
            placeholder="Confirm Password" clearInput [(ngModel)]="cnfpassword" (blur)="Onkeyup($event)" [style.border-bottom]="showStyle ? '1px solid #1d2d8a' : 'border-bottom: 1px solid #f6a65c'">
        </ion-row>
                <span style="color: #1d2d8a;padding: 0 30px;" *ngIf="showStyle">These passwords don't match. Try again?</span>

        <span style="color: #1d2d8a;padding: 0 30px;" *ngIf="!signupForm.controls.cnfpassword.valid  && (signupForm.controls.cnfpassword.touched || signupForm.controls.cnfpassword.dirty)">You can't leave this empty.</span>
        <!--<ion-item class="error-message" *ngIf="!signupForm.controls.cnfpassword.valid  && signupForm.controls.cnfpassword.dirty">
          <p>Your password needs more than 6 characters.</p>
        </ion-item>-->
      </ion-grid>
    </form>
  </div>

  <ion-grid class="buttons">
    <button ion-button round [disabled]="!signupForm.valid" color="confirm" (click)="doRegister();">
      Sign Up
    </button>
  </ion-grid>
</ion-content>
