<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only> 
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
    </button>
    <ion-title>Add Child</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid padding>
    <div [formGroup]="addChildForm">
      <ion-searchbar  formControlName="parents" placeholder="Search Parent" (ionInput)="getItems($event)"></ion-searchbar>
     <span style="color: red;padding: 0 30px;" *ngIf="!addChildForm.controls.parents.valid  && (addChildForm.controls.parents.touched || addChildForm.controls.parents.dirty)">You can't leave this empty.</span>
    </div>
        

    <div >
      <ion-list *ngIf="showList">
        <ion-item *ngFor="let item of countryList">
          <ion-avatar item-start>
            <img src="{{domainuri+item.value.profile_pic}}">
          </ion-avatar>
          <h2> {{ item.value.username }}</h2>
          <p>{{ item.value.email }}</p>
          <button ion-button outline item-end (click)="selectParent(item.value.email,item.id,item.value.profile_pic)">select</button>
          <!--<ion-checkbox  item-end  [(ngModel)]="cucumber" (ionChange)="updateCucumber()"></ion-checkbox>-->
        </ion-item>

      </ion-list>
    </div>
    <ion-list no-lines class="parent-section">
        <ion-label stacked *ngIf="showParents">Parent Name</ion-label>
        <ion-item *ngIf="showParents">
        
        <ion-avatar item-start>
          <img src="{{domainuri+profile}}">
        </ion-avatar>
        <p>{{name}}</p>
      </ion-item>
    </ion-list>
    <div [formGroup]="addChildForm">
     <ion-item >
        <ion-label stacked>Child Name</ion-label>
        <ion-input class="rounded-input"  formControlName="child" [(ngModel)]="addchild.childname" type="text" placeholder="Enter Name"></ion-input>
      </ion-item>
               <span style="color: red;padding: 0 30px;" *ngIf="!addChildForm.controls.child.valid  && (addChildForm.controls.child.touched || addChildForm.controls.child.dirty)">You can't leave this empty.</span>
   

      <ion-item >
        <ion-label stacked>Date Of Birth</ion-label>
        <!--<ion-input type="text" placeholder="Enter DOB"></ion-input>-->
        <ion-datetime class="rounded-input"  formControlName="birthday" [(ngModel)]="addchild.birthday" displayFormat="DD-MM-YY" pickerFormat="DD MM YY" placeholder="Select Date">
        </ion-datetime>
      </ion-item>
      <span style="color: red;padding: 0 30px;" *ngIf="!addChildForm.controls.birthday.valid  && (addChildForm.controls.birthday.touched || addChildForm.controls.birthday.dirty)">You can't leave this empty.</span>


      <ion-item>
            <ion-label stacked>Age (years)</ion-label>
            <ion-input class="rounded-input"  formControlName="age" [(ngModel)]="addchild.age" type="number" placeholder="Enter Age"></ion-input>
         </ion-item>
                  <span style="color: red;padding: 0 30px;" *ngIf="!addChildForm.controls.age.valid  && (addChildForm.controls.age.touched || addChildForm.controls.age.dirty)">You can't leave this empty.</span>

         <ion-item class="gender-section" >
            <ion-label>Gender</ion-label>
            <ion-select  formControlName="gender" [(ngModel)]="gender" >
              <ion-option value="f">Baby Girl</ion-option>
              <ion-option value="m">Baby Boy</ion-option>
            </ion-select>
        </ion-item>
      <span style="color:red;padding: 0 30px;" *ngIf="!addChildForm.controls.gender.valid  && (addChildForm.controls.gender.touched || addChildForm.controls.gender.dirty)">You can't leave this empty.</span>
  </div>
 


    <ion-row>
      <ion-col padding-left>
        <button ion-button round (click)="Selectprofile()">
            Select
          </button>
      </ion-col>

      <ion-col padding-right>
        <img src="{{addchild.pro_image}}" alt="">
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-grid class="buttons">
    <button ion-button round [disabled] = "!addChildForm.valid || addchild.pro_image =='' " (click)="uploadChild()">
          Upload
        </button>
    
  </ion-grid>
</ion-content>

