<ion-header>
  <ion-navbar>
    <!--<ion-buttons>-->
    <button ion-button menuToggle icon-only> 
        <ion-icon ios="ios-menu" md="md-menu"></ion-icon>
      </button>
    <!--</ion-buttons>-->

    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="daycare">
    <ion-card class="recently">
      <ion-card-header>
        Recently Subscribed
        <a (click)="goToPage('SubscriptionPage')">view all...</a>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>No data</ion-col>
            <!--<ion-col *ngFor="let kid of (KidsData | slice:KidsData.length - 5);">
              <img [src]="kid.profilePic">
            </ion-col>-->
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card class="kidsPic">
      <ion-card-header>
        Kids Photos
        <!--<a (click)="goToPage('KidsPhotosPage')">view all...</a>-->
        <a (click)="goToPage('KidsPhotosPage')">view all...</a>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <!--<ion-col col-4 *ngFor="let kidPic of (KidsData | slice:KidsData.length - 3);">
                        <img [src]="kidPic.profilePic">
                    </ion-col>-->

                    <!--<div *ngIf="childDataList">-->
                      <!--hjdfjhf {{childDataList}}-->
                      <ion-col *ngIf="childDataList == ''">No data</ion-col>
                    <ion-col col-4 *ngFor="let kidPic of childDataList | slice:0:3 let i = index">
                        <!--{{kidPic.value.videos}}-->
                       <img *ngIf="i<3" src="{{domainUrl+kidPic.value.profile_pic}}">
                    </ion-col>
                    <!--</div>-->
                </ion-row>
            </ion-grid>
        </ion-card-content>

    </ion-card>

    <ion-card class="kidsVid">

        <ion-card-header>
            Kids Videos
            <a (click)="goToPage('KidsVideosPage')">view all...</a>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                   <ion-col *ngIf="childDataList == ''">No data</ion-col>
                    <!--<div  col-4 *ngIf="kidPic.value.videos">-->
                     <ion-col  *ngFor="let kidPic of childDataList | slice:0:3  let i = index" col-4>
                        <!--{{kidPic.value.videos}}-->
                         <img  src="{{domainUrl+kidPic.value.profile_pic}}">
                    </ion-col>
                    <!--</div>-->
                </ion-row>
            </ion-grid>
        </ion-card-content>
    </ion-card>

     <ion-card class="annouce">
        <ion-card-header>
            Announcements
            <a (click)="goToPage('AnnouncementPage')">view all...</a>
        </ion-card-header>
        <!--<div *ngFor="let announcement of loadedChildList">-->
            <!--{{announcement.value |json}}-->
            <ion-card-content *ngIf="loadedChildList == ''">No data</ion-card-content>
        <ion-card-content *ngFor="let announcement1 of loadedChildList | ReverseHomeVideos">
            <!--{{announcement1 |json}}-->
            <ion-grid>
                <ion-row>
                    <h6>{{announcement1.date}}</h6>
                </ion-row>
                <ion-row>
                    <h5>{{announcement1.title}}</h5>
                </ion-row>
                <ion-row>
                    <p>
                    {{announcement1.description}}
                    </p>
                </ion-row>
            </ion-grid>
        </ion-card-content>
        <!--</div>-->

    </ion-card>
  </div>
 
      
   <div *ngIf="!daycare">
            <ion-card class="kidsPic">
        <ion-card-header >
            Kids Photos
            <!--<a (click)="goToPage('KidsPhotosPage')">view all...</a>-->
            <a (click)="goToPage('KidsPhotosPage')" *ngIf="childDataList !='' ">view all...</a>
        </ion-card-header>

        <ion-card-content>
            <ion-grid>
                <ion-row>
                   <ion-col col-12 *ngIf="childDataList =='' ">No Photos</ion-col>
                    <ion-col col-4 *ngFor="let kidPic of childDataList | slice:0:3 let i = index">
                        <!--{{kidPic.value.videos}}-->
                       <img  src="{{domainUrl+kidPic.value.profile_pic}}">
                    </ion-col>
                    <!--</div>-->
                </ion-row>
            </ion-grid>
        </ion-card-content>

    </ion-card>

    <ion-card class="kidsVid">
      <ion-card-header>
        Kids Videos
        <a (click)="goToPage('KidsVideosPage')"  *ngIf="childDataList !='' ">view all...</a>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col col-12 *ngIf="childDataList =='' ">No Videos</ion-col>
            <div *ngFor="let kidPic of childDataList ;let i = index" col-4>
              <ion-col *ngIf="kidPic.value.videos" col-4>
                <!--{{kidPic.value.videos}}-->
                <img src="{{domainUrl+kidPic.value.profile_pic}}">
              </ion-col>
            </div>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-fab right bottom *ngIf="daycare">
    <button ion-fab color="confirm" class="openButton">
            <ion-icon ios="ios-add" md="md-add"  icon-only></ion-icon>
        </button>

    <ion-fab-list side="left">
      <button ion-fab (click)="goToPage('SendAnnoncementPage')"> <ion-icon ios="ios-megaphone" md="md-megaphone" ></ion-icon></button>
      <button ion-fab><ion-icon ios="ios-text" md="md-text"></ion-icon></button>
      <button ion-fab (click)="goToPage('AddChildVideosPage')"><ion-icon ios="logo-youtube" md="logo-youtube" ></ion-icon></button>
      <button ion-fab (click)="goToPage('AddChildPhotosPage')"><ion-icon ios="ios-images" md="md-images"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
