<ion-menu [content]="nav">
    <ion-header>
    </ion-header>
    <ion-content>
        <ion-grid class="menuBar">
            <!--{{userProfile |json}}-->
            <ion-row *ngIf="userProfile">
                <ion-col col-4 *ngIf="userProfile.profile_pic !=''">
                    <!--<img src="../assets/images/profile.png" alt="Profile Pic">-->
                    <img src="{{domainUrl+userProfile.profile_pic}}" alt="Profile Pic">
                </ion-col>
                <ion-col col-4 *ngIf="userProfile.profile_pic ==''">
                    <img src="../assets/images/profile.png" alt="Profile Pic">
                    <!--<img src="{{userProfile.profile_pic}}" alt="Profile Pic">-->
                </ion-col>
                <ion-col>
                    <h4>{{userProfile.username}}</h4>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid class="menuButton">
            <ion-row>
                <ion-list no-lines>
                    <ion-item>
                        <button ion-button clear (click)="onLoad('HomePage')">
                        Home
                        </button>
                    </ion-item>

                    <ion-item>
                        <button ion-button clear (click)="onLoad('ProfilePage')">
                        Profile
                        </button>
                    </ion-item>

                    <ion-item *ngIf="daycare">
                        <button ion-button clear (click)="onLoad('AddchildPage')">
                        Add Child
                        </button>
                    </ion-item>
                    <ion-item *ngIf="daycare">
                        <button ion-button clear (click)="onLoad('EditProfilePage')">
                            Edit Child
                            </button>
                    </ion-item>
                    <ion-item>
                        <button ion-button clear (click)="onLoad('SubscriptionPage')">
                        Subscription
                        </button>
                    </ion-item>

                    <!--<ion-item> 
                        <button ion-button clear (click)="onLoad('SettingsPage')">
                        Settings
                        </button>
                    </ion-item>-->
                    <ion-item>
                        <button ion-button clear (click)="onLogout()">
                        Log Out
                        </button>
                    </ion-item>
                </ion-list>
            </ion-row>
        </ion-grid>

    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #nav swipeBackEnabled="false"></ion-nav>