page-forgot-pass {
    ion-content{
        .fixed-content{
            background: url(../assets/images/bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            }
        .grid{
            max-width: 450px;
        }
        .formContain{
            height: 105vw;
            //height: 24em;
            align-items: center;
            justify-content: center;

            .list{
                width: 90%;

                input{
                    border: none;
                    border-bottom: 1px solid #f6a65c;
                    text-align: center;
                    padding: 10px !important;
                    margin-right: 0px;
                    color: #ffe8dc;
                    width: 100%;
                    background: transparent;
                }
            
                input::placeholder {
                    color:#ffe8dc;
                }

          }
        }

        .buttons{
            justify-content: center;
            align-items: center;

             button{
                padding-left: 7rem;
                padding-right: 7rem;
                height: 4rem;
                background-color:#4bcf18 ;
            }
        }
        
    }
}
