<ion-header>

  <ion-navbar color="primary">
    <ion-title>Photos of children</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <button ion-button clear>
      <ion-icon ios="ios-funnel" md="md-funnel" item-end></ion-icon>
      <span id="filter">Filter</span>
   </button>
   <div *ngIf="childDataList">
      <!--hiiiii {{ kidsPhotos.status }}-->
   
    <ion-card *ngFor="let obj of childDataList | reverse">
      <!--hii{{kid |json}}-->
      <!--{{obj.parentsData}}-->
            <ion-card-header>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{domainUrl+obj.value.profile_pic}}">
          </ion-avatar>
          <h3>{{obj.value.name}}</h3>
          <p>Child of {{obj.parentsData}}</p>
        </ion-item>
      </ion-card-header>

      <ion-card-content>
          <ion-grid>
              <ion-row>
                  <ion-col><p>Photos</p></ion-col>
                  <ion-col > <a (click)="allPhotos(kids,obj.id,childDataList)" *ngIf="obj.value.photos">view more...</a></ion-col>
              </ion-row>

              <ion-row>
                  <!--hiiii {{Kids.photos}}-->
                  <!--<ion-col col-3 *ngFor="let kidPic of (kids.allpic | slice:kids.allpic.length - 4);">-->
                 <ion-col col-3 *ngFor="let route of obj.value.photos | keys  let i = index;">
                    <!--fghf{{route|json}}-->
                      <img *ngIf="i<4" src="{{domainUrl+route.url}}">
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>
    
        <!--<div *ngFor="let obj of childDataList">
    <table>
    <tr>
      <th>Destination: </th>
      <th>Budget: </th>
    </tr>
      <tr *ngFor="let route of obj.value.photos | keys">
      {{route |json}}
        <td>{{route.toCity}}</td>
        <td>{{route.budget}}</td>
      </tr>
    </table>
  </div>-->
   </div>
   
</ion-content>
