<ion-header>

  <ion-navbar color="primary">
    <ion-title>Kids List - Photos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
   <button ion-button clear>
      <ion-icon ios="ios-funnel" md="md-funnel" item-end></ion-icon>
      <span id="filter">Filter</span>
   </button>
   <div *ngIf="kidsPhotos">
      <!--hiiiii {{ kidsPhotos.status }}-->
      <div *ngFor="let kids of kidsPhotos">
    <ion-card *ngFor="let kid of kids.values">
      hii{{kid |json}}
      
            <ion-card-header>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{kid.profileUrl}}">
          </ion-avatar>
          <!--<h3>{{kids.name}}</h3>-->
          <!--<p>Child of {{kids.parents}}</p>-->
        </ion-item>
      </ion-card-header>

      <ion-card-content>
          <ion-grid>
              <ion-row>
                  <ion-col><p>Photos</p></ion-col>
                  <ion-col> <a (click)="allPhotos(kids)">view more...</a></ion-col>
              </ion-row>

              <ion-row>
                  <!--hiiii {{Kids.photos}}-->
                  <!--<ion-col col-3 *ngFor="let kidPic of (kids.allpic | slice:kids.allpic.length - 4);">-->
                 <!--<ion-col col-3 *ngFor="let kidPicdata of kids.values.photos;">
                    fghf{{kidPicdata|json}}
                      <img [src]="kidPicdata.url">
                  </ion-col>-->
              </ion-row>
          </ion-grid>
      </ion-card-content>
    </ion-card>
      </div>
   </div>
</ion-content>
