<ion-header>

  <ion-navbar>
    <ion-title>Add Annoncement</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<div [formGroup]="announceForm">
  <ion-card>
    <ion-item>
      <ion-label stacked>Add Title</ion-label>
      <ion-input type="text" [(ngModel)]="anno.title" formControlName="title"  [class.has-error]="!announceForm.controls.title.valid  && (announceForm.controls.title.dirty)"  placeholder="Enter Title Here"></ion-input>
    </ion-item>
     <span style="color: red;padding: 0 30px;" *ngIf="!announceForm.controls.title.valid  && (announceForm.controls.title.touched || announceForm.controls.title.dirty)">You can't leave this empty.</span>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label stacked>Add Description</ion-label>
      <ion-textarea type="text" formControlName="description" [class.has-error]="!announceForm.controls.description.valid  && (announceForm.controls.description.dirty)" [(ngModel)]="anno.description" rows="10"></ion-textarea>
    </ion-item>
      <span style="color: red;padding: 0 30px;" *ngIf="!announceForm.controls.description.valid  && (announceForm.controls.description.touched || announceForm.controls.description.dirty)">You can't leave this empty.</span>
  </ion-card>
</div>
  <ion-row class="pblBtn">
    <button ion-button (click)="publishAnnouncement()" [disabled]="!announceForm.valid" round color="secondary">
        Publish
      </button>
  </ion-row>

  <ion-row class="annoceTlt" *ngIf="announcementData">
    <h4>Last Annoncement</h4>
    <p>On {{announcementData[0].date}}</p>
  </ion-row>


  <ion-card class="announcement" *ngIf="announcementData">
    <ion-card-header class="date">
     {{announcementData[0].title}}
    </ion-card-header>
    <ion-card-content class="ann-snipet">
      <p>
        
        {{announcementData[0].description}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
