page-send-annoncement {
    .font{
        font-size: 1.6rem;
        font-weight: 500;
        color: #333;
    }
    ion-content{
        background-color: #f1f1f1 !important;
          .card{
            margin: 12px 0px;
            width: 100%;
            .item{
            padding: 10px;
                .input{
                    .text-input{
                    margin: 5px 5px;
                    width: calc(100% - 5px);
                    border: 1px solid #676767;
                    border-radius: 50px;
                    padding: 15px;
                    }
                }

                textarea{
                border-radius: 5px !important;
                }
            
                .label{
                    margin-left: 25px;
                    @extend .font;
                } 
            }
        }

        .pblBtn{
            align-items: center;
            justify-content: center;

            button{
                padding: 5px 4.6rem;
            }
        }

        .annoceTlt{
            flex-direction: column;
            padding: 10px 15px;
            h4{
                padding-bottom: 5px;
                @extend .font;
            }
            p{
                font-size: 12px;
            }
        }
    }
    
}
